body{
    background-color: whitesmoke;
}

table{
    width: 80%;
    margin: 40px auto;
    background: rgb(124,154,167);
    margin-left: 7%;
    margin-right: auto;
}

table.list{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

td{
    border: 1px solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: rgb(207, 205, 205);
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: 1px black;
    border-radius: 30px;
    font-size: 2rem;
    cursor: pointer;
    
   
}

input[type="submit"]:hover{
    background: #4b99d8;
}

input[type="reset"]:hover{
    background: #4b99d8;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#4b99d8 ;
}